@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /*https://uicolors.app/generate/2259f7*/
  /* プライマリー */
  --color-amulet-50: #f2f7f2;
  --color-amulet-100: #e2eae1;
  --color-amulet-200: #c4d6c5;
  --color-amulet-300: #9cb99f;
  --color-amulet-400: #7a9e7e;
  --color-amulet-500: #507956;
  --color-amulet-600: #3c5f42;
  --color-amulet-700: #304c35;
  --color-amulet-800: #283d2c;
  --color-amulet-900: #213325;
  --color-amulet-950: #121c15;

  /* セカンダリー */
  --color-porsche-50: #fcf8f0;
  --color-porsche-100: #f9efdb;
  --color-porsche-200: #f2ddb6;
  --color-porsche-300: #eac587;
  --color-porsche-400: #e0a458;
  --color-porsche-500: #d98b36;
  --color-porsche-600: #ca732c;
  --color-porsche-700: #a85a26;
  --color-porsche-800: #874925;
  --color-porsche-900: #6d3c21;
  --color-porsche-950: #3a1e10;  
}