@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /*https://uicolors.app/generate/2259f7*/

  /* Primary : Green (Go!) */
  --color-verdant-50: #e8f5e9;
  --color-verdant-100: #c8e6c9;
  --color-verdant-200: #a5d6a7;
  --color-verdant-300: #81c784;
  --color-verdant-400: #66bb6a;
  --color-verdant-500: #4caf50; /* primary */
  --color-verdant-600: #43a047;
  --color-verdant-700: #388e3c;
  --color-verdant-800: #2e7d32;
  --color-verdant-900: #1b5e20;

  /* Secondary : Orange (Action!) */
  --color-ember-50: #fff3e0;
  --color-ember-100: #ffe0b2;
  --color-ember-200: #ffcc80;
  --color-ember-300: #ffb74d;
  --color-ember-400: #ffa726;
  --color-ember-500: #ff8a3d; /* secondary */
  --color-ember-600: #fb7c2d;
  --color-ember-700: #f36c1e;
  --color-ember-800: #ea5d10;
  --color-ember-900: #d84300;

  /* Neutral : Bright background */
  --color-breeze-50: #ffffff;
  --color-breeze-100: #f9faf9; /* neutral */
  --color-breeze-200: #f1f4f1;
  --color-breeze-300: #e3e8e4;
  --color-breeze-400: #cfd8d3;
  --color-breeze-500: #b0bab4;
  --color-breeze-600: #8e9c95;
  --color-breeze-700: #6f7e77;
  --color-breeze-800: #4f5e57;
  --color-breeze-900: #2f3e38;
}
